<!DOCTYPE html>
<html>

<head>
    <title>index</title>
</head>

<body>
    <h1>Index page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates voluptatem magnam fuga illum, nulla tenetur
        deleniti iure ut! Voluptatibus ipsum et debitis aspernatur eos expedita incidunt. Explicabo temporibus culpa
        illo expedita perferendis, animi doloribus, fugit eos molestiae rerum ea. Ipsum, voluptatem vero? Distinctio
        repellendus sunt eligendi, hic magnam totam voluptatem quod quam modi eos nulla? Quos necessitatibus doloribus
        possimus id.
    </p>
</body>

</html>